* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42;
}

@keyframes slideDown {
  0% {
    transform: translate(-100%, 0);
    opacity: 0.3;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.marketing-materials-wrapper {
  min-height: 100vh;
  margin-left: 230px;
  padding-top: 70px;
  padding-bottom: 40px;

  background-color: #ecf0f5;
  z-index: 800;
}

.marketing-materials-wrapper .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  display: flex;

  transition: opacity 150ms ease;
}

.marketing-materials-wrapper .modal-wrapper.open {
  z-index: 999;
  opacity: 1;
}

.marketing-materials-wrapper .modal-wrapper .modal {
  width: 800px;
  background-color: #fff;
  padding: 20px;
  font-size: 12px;
  transform: translate(0, -100%);
  transition: transform 300ms ease;
}

.marketing-materials-wrapper .modal-wrapper .modal.open {
  transform: translate(0, 0);
}

.marketing-materials-section {
  margin: 20px 20px 30px 20px;
  background-color: #fff;
  animation: slideDown 1s ease 0.5s normal forwards;
  transform-origin: top;
}

.marketing-materials-section .header {
  padding: 8px 20px;
  position: relative;
  background-color: #223464;
  color: #fff;
}

.marketing-materials-section .header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.marketing-materials-section .header .header-btn {
  height: 23px;
  width: 23px;
  padding-top: 1px;
  position: absolute;
  top: 50%;
  right: 25px;

  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  border: 2px solid #fff;
  transform: translate(0, -50%);
}

.marketing-materials-section .content {
  display: flex;
  padding: 17px 23px 50px 17px;
  background-color: #fff;
}

.marketing-materials-section .content .description {
  max-width: 40%;
  font-size: 12px;
}
.marketing-materials-section .content .description .description-item {
  padding: 24px 24px 45px 50px;
  margin-right: 45px;
  border-top: 5px solid#829FE4;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.marketing-materials-section .content .description .description-item h5,
.marketing-materials-section .content .description .description-item p {
  margin: 0;
}
.marketing-materials-section .content .description .description-item h5 {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.marketing-materials-section .content .description .description-item h5::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marketing-materials-section .content .description .description-item .list-container {
  display: flex;
  justify-content: space-between;
}

.marketing-materials-section .content .description .description-item.blue {
  color: #223464;
  background-color: #c9d8fc;
  border-top: 5px solid#829FE4;
  background-image: url("../data/PencilCircle.png");
}
.marketing-materials-section .content .description .description-item.blue h5::before {
  background-image: url("../data/ChatText_blue.svg");
}

.marketing-materials-section .content .description .description-item.orange {
  margin-top: 21px;
  color: #c8801b;
  background-color: #fdeed9;
  border-top: 5px solid#FFE1B8;
  background-image: url("../data/Money.png");
}

.marketing-materials-section .content .description .description-item.orange h5::before {
  background-image: url("../data/ChatText_orange.svg");
}

.marketing-materials-section .content .description ul {
  margin-top: 6px;
  margin-left: 13px;
}
.marketing-materials-section .content .accordeon ul {
  list-style: none;
}
.marketing-materials-section .content .description ul li {
  font-weight: 700;
  font-size: 12px;
}
.marketing-materials-section .content .description ul li p {
  margin: 0;
}
.marketing-materials-section .content .accordeon {
  width: 100%;
}
.marketing-materials-section .content .accordeon ul li.accordeon-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 8px 16px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  border-top: 3px solid #223364;
  border-radius: 5px;
  background-color: #ecf0f4;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item .marking-text {
  margin-left: 12px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #223464;
  border-radius: 2px;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item .marking-text.blue {
  background-color: #c9d8fc;
}
.marketing-materials-section .content .accordeon ul li.accordeon-item .marking-text.orange {
  background-color: #fdeed9;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item > p {
  text-transform: uppercase;
  margin: 0;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item.last {
  border-bottom: 1px solid #a2aaad;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item.last.active {
  border-bottom: none;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item.active {
  color: #223464;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item::after {
  position: absolute;
  right: 15px;
  content: "+";
  font-size: 30px;
  color: #000;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item.active::after {
  content: "-";
}
.accordeon ul li.inner-container {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.2s ease-out, opacity 0.2s ease;
}

.marketing-materials-section .content .accordeon ul li.inner-container .flex-container {
  display: flex;
  margin-bottom: 20px;
}

.accordeon ul li.inner-container .folder {
  padding: 15px;
  width: 220px;
  display: block;
  margin-right: 23px;
  font-size: 12px;
  text-decoration: none;
  color: #999;
  border: 1px solid #e2e2e2;
  transition: all 500ms ease;
}
.accordeon ul li.inner-container .folder:hover,
.accordeon ul li.inner-container .folder:focus {
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.2);
}

.accordeon ul li.inner-container .folder-icon img {
  transition: transform 500ms ease;
}
.accordeon ul li.inner-container .folder-icon.blue path {
  fill: #829fe4;
}

.accordeon ul li.inner-container .folder-icon.orange path {
  fill: #ffe1b8;
}
.accordeon ul li.inner-container .folder:hover img,
.accordeon ul li.inner-container .folder:focus img {
  transform: scale(0.9);
}

.accordeon ul li.inner-container .folder-content {
  margin-top: 8px;
}

.accordeon ul li.inner-container .folder-content p {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #666;
}

.folder-content .nth-files {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marketing-materials-section .content .accordeon ul li.accordeon-item .icon {
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.accordeon ul li.inner-container .access {
  margin-right: 35px;
}

.accordeon ul li.inner-container .access div {
  display: flex;
}

.accordeon ul li.inner-container .devider {
  margin: 0 5px;
}

.accordeon ul li.inner-container .access h5,
.accordeon ul li.inner-container .instruction h5 {
  margin: 0;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  color: #223464;
}

.accordeon ul li.inner-container .access h5::before,
.accordeon ul li.inner-container .instruction h5::before {
  content: "";
  position: absolute;
  left: -15px;
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #223464;
}

.accordeon ul li.inner-container .access h5::before {
  background-image: url("../data/Key.svg");
}

.accordeon ul li.inner-container .instruction h5::before {
  background-image: url("../data/CircleWavyQuestion.svg");
}

.accordeon ul li.inner-container .access p {
  font-size: 8px;
}
.accordeon ul li.inner-container .attention-container {
  padding: 8px 8px 8px 23px;
  display: flex;
  position: relative;
  font-size: 14px;
  background-color: #e2e2e2;
}

.accordeon ul li.inner-container .instruction span,
.accordeon ul li.inner-container .instruction a {
  margin-right: 5px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-transform: lowercase;
}
.accordeon ul li.inner-container p.attention::before {
  position: absolute;
  left: 0;
  content: "!";
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  font-weight: bold;
  color: #fff;
  background-color: #223464;
}

@media screen and (max-width: 1800px) {
  .marketing-materials-wrapper {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .marketing-materials-wrapper {
    margin-left: 0;
  }
  .marketing-materials-section .content {
    padding: 20px 10px;
    flex-direction: column;
  }
  .marketing-materials-section .content .description {
    max-height: max-content;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .accordeon ul li.inner-container .flex-container .access {
    padding-left: 30px;
    margin-top: 10px;
  }

  .marketing-materials-section .content .description .description-item {
    margin-right: 0;
  }

  .marketing-materials-section .content .description .description-item .list-container {
    justify-content: flex-start;
  }
  .marketing-materials-section .content .description ul:nth-child(2) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .marketing-materials-section .content .description .description-item .list-container,
  .marketing-materials-section .content .accordeon ul li.inner-container .flex-container,
  .accordeon ul li.inner-container .attention-container {
    flex-direction: column;
  }

  .marketing-materials-section .content .description ul:nth-child(2) {
    margin-left: 13px;
  }

  .accordeon ul li.inner-container .folder {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .accordeon ul li.inner-container .attention-container .instruction {
    margin-top: 20px;
  }

  .marketing-materials-section .content .accordeon ul li.accordeon-item .marking-text {
    display: none;
  }
}
